* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color: #cccccc;
    font-family: sans-serif;
}


/* Header */

header {
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    padding: 1em;
}

.header-container {
    display: flex;
    flex-direction: column;
}


li {
    border: 2px solid ;
    background-color: #d9043d;
    list-style: none;
       
}

a {
    color: white;
    text-decoration: none;
    
}

/* Main Content*/

main {
    padding: 1rem;
}

h2 {
    text-align: center;
    padding-top: 1rem;
}

img {
    display: grid;
    margin: 0 auto;
    
}


#gallery-container {
    display: grid;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

figure {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    background-color: white;

}

figure img {
    border-bottom: 1em solid #97bf04;
    width: 100%;
}

figcaption {
    margin: 1rem;
}




/* Footer */

footer {
    padding: 2rem;
    background-color: #d9043d; 
    color: white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    li {
        margin: 1rem auto;
        border: 5px solid #97bf04;
        width: 100%;
        background-color: #d9043d;
        
    }

    a {
        display: block;
        padding: 1em; 
    }
}







