* {
    box-sizing: border-box;
}

body {
    background-color: #cccccc;
    font-family: sans-serif;
}


/* Header */

header {
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    padding-top: 3em;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



li {
    border: 2px solid ;
    background-color: #d9043d;
    list-style: none;
    padding: 1em;
    text-align: center;
    
    
}

a {
    color: white;
    text-decoration: none;
    
}

/* Main Content*/

h2 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}


#gallery-container {
    display: grid;
    gap: 1em;
}

figure {
    max-width: 100%;
    padding: 2rem;
    background-color: white;
}

figure img {
    border-bottom: 1em solid #97bf04;
}

/* Footer */

footer {
    padding: 2rem;
    background-color: #d9043d; 
    color: white;
}

@media screen and (max-width: 768px) {
    li {
        margin: 1rem auto;
        border: 5px solid #97bf04;
        width: 95%;
        background-color: #d9043d;
    }

    a {
        display: block;
        padding: 1em; 
    }
}






