* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color: #cccccc;
    font-family: sans-serif;
}


/* Header */

header {
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    padding: 1em;
}

.header-container {
    display: flex;
    flex-direction: column;
}


li {
    border: 2px solid ;
    background-color: #d9043d;
    list-style: none;
       
}

a {
    color: white;
    text-decoration: none;
    
}

/* Main Content*/

main {
    padding: 1rem;
}

h2 {
    text-align: center;
    padding-top: 1rem;
}

img {
    display: grid;
    margin: 0 auto;
    
}


#gallery-container {
    display: grid;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

figure {
    width: 100%;
    padding: 2rem;
    background-color: white;

}

figure img {
    border-bottom: 1em solid #97bf04;
    width: 100%;
}

figcaption {
    margin-top: 1em;
}

/* Footer */

footer {
    padding: 2rem;
    background-color: #d9043d; 
    color: white;
    text-align: center;
}


/* Media Quaries*/

/* Some extra for phone size..*/

@media screen and (max-width: 768px) {
    li {
        margin: 1rem auto;
        border: 5px solid #97bf04;
        width: 95%;
        background-color: #d9043d;
        
    }

    a {
        display: block;
        padding: 1em; 
    }
}

/* Media size for Ipad */

@media screen and (min-width: 768px) {

    /* Header*/

    header {
        padding: 0;
    }

/* Nav*/

    nav ul {
        display: flex;
        justify-content: center;
        background-color: pink;
        padding: 1rem;
        margin-top: 1rem;
        width: 100%;
        
    }

    /* Instruction says that the nav should be pink so I just put pink..*/

    nav ul li {
        border: none;
        background-color: pink;

    }

    a {
        padding: 0.7em
    }

    /* Main Content*/

    h2 {
        padding-bottom: 1em;
    }

  
    #gallery-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 5em;
        padding-left: 2em;
        padding-right: 2em;
    }

    figure:last-of-type{
        grid-column: span 2;
        padding: 0 auto;
        margin: 0 auto;    
        width: 100% ;
    }
    
}

/* Media screen larger than Ipad or for Web*/

@media screen and (min-width: 1000px) {
    #gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


}







